DEEPGRAM_AUTH_TOKEN=
ELEVENLABS_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-3.5-turbo
REDIS_URL=redis://localhost:6379
WHISPER_URL=

# Twilio credentials
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here


# Plivo credentials
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=
PLIVO_PHONE_NUMBER=

# AWS Polly credentials (for text-to-speech)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

# ambient noise
AMBIENT_NOISE_PRESETS_DIR=presets/ambient_noise
